Repository openshift/cluster-monitoring-operator, pull requests merged in 2023-02, with the labels that each got.

#1855 [MON-2899] add nodeExporter.collectors.cpufreq settings.
  CHANGELOG.md
  Documentation/api.md
  Documentation/openshiftdocs/index.adoc
  Documentation/openshiftdocs/modules/clustermonitoringconfiguration.adoc
  Documentation/openshiftdocs/modules/nodeexportercollectorconfig.adoc
  Documentation/openshiftdocs/modules/nodeexportercollectorcpufreqconfig.adoc
  Documentation/openshiftdocs/modules/nodeexporterconfig.adoc
  assets/node-exporter/daemonset.yaml
  jsonnet/components/node-exporter.libsonnet
  pkg/manifests/manifests.go
  pkg/manifests/manifests_test.go
  pkg/manifests/types.go
  test/e2e/node_exporter_test.go
Labels: lgtm, approved, px-approved, docs-approved, qe-approved

#1873 pkg/manifests/manifests.go: move constants to jsonnet
  assets/alertmanager-user-workload/service-monitor.yaml
  assets/alertmanager/service-monitor.yaml
  assets/cluster-monitoring-operator/service-monitor.yaml
  assets/kube-state-metrics/service-monitor.yaml
  assets/node-exporter/service-monitor.yaml
  assets/prometheus-adapter/service-monitor.yaml
  assets/prometheus-k8s/service-monitor-thanos-sidecar.yaml
  assets/prometheus-k8s/service-monitor.yaml
  assets/prometheus-operator-user-workload/service-monitor.yaml
  assets/prometheus-operator/service-monitor.yaml
  assets/prometheus-user-workload/service-monitor-thanos-sidecar.yaml
  assets/prometheus-user-workload/service-monitor.yaml
  assets/telemeter-client/service-monitor.yaml
  assets/thanos-querier/service-monitor.yaml
  assets/thanos-ruler/service-monitor.yaml
  jsonnet/components/alertmanager-user-workload.libsonnet
  jsonnet/components/alertmanager.libsonnet
  jsonnet/components/cluster-monitoring-operator.libsonnet
  jsonnet/components/prometheus-user-workload.libsonnet
  jsonnet/components/prometheus.libsonnet
  jsonnet/utils/configure-authentication-for-monitors.libsonnet
  pkg/manifests/manifests.go
Labels: lgtm, approved, px-approved, docs-approved, qe-approved

#1882 MON-2959: Allow configuring secrets in alertmanager (platform)
  CHANGELOG.md
  Documentation/api.md
  Documentation/openshiftdocs/modules/alertmanagermainconfig.adoc
  pkg/client/client.go
  pkg/manifests/manifests.go
  pkg/manifests/manifests_test.go
  pkg/manifests/types.go
  pkg/tasks/alertmanager.go
Labels: lgtm, approved, do-not-merge/hold, px-approved, docs-approved, qe-approved, jira/valid-reference

#1876 [MON-2902] Add nodeExporter.collectors.tcpstat settings.
  CHANGELOG.md
  Documentation/api.md
  Documentation/openshiftdocs/index.adoc
  Documentation/openshiftdocs/modules/nodeexportercollectorconfig.adoc
  Documentation/openshiftdocs/modules/nodeexportercollectorcpufreqconfig.adoc
  Documentation/openshiftdocs/modules/nodeexportercollectortcpstatconfig.adoc
  pkg/manifests/manifests.go
  pkg/manifests/manifests_test.go
  pkg/manifests/types.go
  test/e2e/node_exporter_test.go
Labels: lgtm, approved, px-approved, docs-approved, qe-approved

#1886 STOR-1154: Add vSphere topology to telemetry
  Documentation/data-collection.md
  Documentation/sample-metrics.md
  Documentation/telemetry/telemeter_query
  assets/cluster-monitoring-operator/prometheus-rule.yaml
  jsonnet/rules.libsonnet
  manifests/0000_50_cluster-monitoring-operator_04-config.yaml
Labels: lgtm, approved, px-approved, docs-approved, qe-approved, jira/valid-reference

#1888 MON-2901: add nodeExporter.collectors.netdev settings.
  CHANGELOG.md
  Documentation/api.md
  Documentation/openshiftdocs/index.adoc
  Documentation/openshiftdocs/modules/nodeexportercollectorconfig.adoc
  Documentation/openshiftdocs/modules/nodeexportercollectornetdevconfig.adoc
  pkg/manifests/config.go
  pkg/manifests/manifests.go
  pkg/manifests/manifests_test.go
  pkg/manifests/types.go
  test/e2e/framework/client.go
  test/e2e/node_exporter_test.go
Labels: lgtm, approved, px-approved, docs-approved, qe-approved, jira/valid-reference

#1896 pkg/operator: fix typo in info logs
  pkg/operator/operator.go
Labels: lgtm, approved, px-approved, docs-approved, qe-approved

#1884 MON-2973: pkg/manifests: Allow configuring secrets in alertmanager (UWM)
  CHANGELOG.md
  Documentation/api.md
  Documentation/openshiftdocs/modules/alertmanageruserworkloadconfig.adoc
  pkg/manifests/manifests.go
  pkg/manifests/manifests_test.go
  pkg/manifests/types.go
  pkg/tasks/alertmanager_user_workload.go
  test/e2e/alertmanager_test.go
Labels: lgtm, approved, px-approved, docs-approved, qe-approved, jira/valid-reference

#1900 OCPBUGS-7391: wait for service CA secrets
  pkg/client/client.go
  pkg/tasks/controlplane.go
  pkg/tasks/prometheusadapter.go
Labels: lgtm, approved, bugzilla/valid-bug, jira/valid-bug, jira/severity-low, jira/valid-reference

#1885 MON-2951: create Routes only with ingress operator
  CHANGELOG.md
  jsonnet/components/cluster-monitoring-operator.libsonnet
  manifests/0000_50_cluster-monitoring-operator_02-role.yaml
  pkg/client/client.go
  pkg/operator/operator.go
  pkg/tasks/alertmanager.go
  pkg/tasks/configsharing.go
  pkg/tasks/prometheus.go
  pkg/tasks/prometheus_user_workload.go
  pkg/tasks/thanos_querier.go
  pkg/tasks/thanos_ruler_user_workload.go
Labels: lgtm, approved, px-approved, docs-approved, qe-approved, jira/valid-reference

#1893 MON-2900: add nodeExporter.collectors.netclass settings.
  CHANGELOG.md
  Documentation/api.md
  Documentation/openshiftdocs/index.adoc
  Documentation/openshiftdocs/modules/nodeexportercollectorconfig.adoc
  Documentation/openshiftdocs/modules/nodeexportercollectornetclassconfig.adoc
  pkg/manifests/config.go
  pkg/manifests/manifests.go
  pkg/manifests/manifests_test.go
  pkg/manifests/types.go
  test/e2e/node_exporter_test.go
Labels: lgtm, approved, px-approved, docs-approved, qe-approved, jira/valid-reference

#1879 MON-2932: jsonnet/dashboards: add role template variable to node related dashbo…
  jsonnet/components/dashboards.libsonnet
  jsonnet/main.jsonnet
  manifests/0000_90_cluster-monitoring-operator_01-dashboards.yaml
Labels: lgtm, approved, px-approved, docs-approved, qe-approved, jira/valid-reference
